body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* this is a fix for a slight unwanted shake of the animation container */
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s; 
        animation-timing-function: ease-out;
         /* to fix the misaligment of text due to letterspacing we add this padding */
        padding-left: 3.5rem;
        /*
        animation-iteration-count: 3;
        animation-delay: 3s;   */

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
            padding-left: 1rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem; 
        animation: moveInRight 1s ease-out;
        /* to fix the misaligment of text due to letterspacing we add this padding */
        padding-left: 1.75rem; 

        @include respond(phone) {
            letter-spacing: .57rem;
            padding-left: 1rem;
            
        }
        
    }
    
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    padding: 0 1rem 0 1rem;

    @include respond(tab-port) {
        font-size: 3rem;
        
    }
    @include respond(phone) {
        font-size: 2.5rem;
        
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: $heading-secondary-shadow;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}